/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono&display=swap');


.kode-mono {
  font-family: "Kode Mono", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Homepage CSS */

.hero-text {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  color: #192F3C;
  padding: 2rem;
  text-align: center;
}

.highlight {
  transition: text-shadow 0.3s ease;
  cursor: default;
}

/* Red highlight for 'Attract' */
.red {
  color: #841B13;
}
.red:hover {
  text-shadow: 0 0 10px rgba(132, 27, 19, 0.5), 0 0 20px rgba(132, 27, 19, 0.5);
}

/* Blue highlight for 'Engage' */

.blue {
  color: #8BC4D9;
}
.blue:hover {
  text-shadow: 0 0 20px rgba(139, 196, 217, 0.5), 0 0 30px rgba(139, 196, 217, 0.5);
}

/* Yellow highlight for 'Convert' */

.yellow {
  color: #F3A83C;
}
.yellow:hover {
  text-shadow: 0 0 20px rgba(243, 168, 60, 0.5), 0 0 30px rgba(243, 168, 60, 0.5);
}

@media (max-width: 768px) and (min-width: 600px) {
  .hero-text {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  .hero-text {
    font-size: 1rem;
    padding: 1rem;
    margin: 0 auto;
    max-width: 250px;
  }
}